<body>
  <h2>Suas credenciais para o acesso do Portal</h2>
  <p>Olá <%= @user.name %>,</p>
  <br>
  <p>Suas credenciaispara o acesso do portal se encontram no corpo deste email. Recomendamos a mudança da sua senha em nosso portal.</p>
  <br>
  <h2><strong>Login/Nome de usuário</strong>: <%= @user.login %></h2>
  <h2><strong>Senha</strong>: <%= @password %> </h2>
</body>
