<div class="internship-box">
  <div class="internship-card internship-main-card">
    <% if logged_in? %>
      <% if @profile %>
        <%= render partial: 'partials/forms'%>
      <% end %>
    <% else %>
      <%= render partial: 'partials/login'%>
    <% end %>
  </div>
</div>
