<div class="internship-box">
	<div class="internship-card internship-main-card">
		<h1>Avaliação de Estágio</h1>
	  <div class="checklist-container">
			<% @checklists.each do |checklist| %>
				<%= render partial: 'partials/checklist', locals: { :checklist => checklist } %>
			<% end %>
	  </div>
	  <div class="button-container">
			<%= button(:add, "Voltar", { :controller => "fga_internship_plugin_profile",
        :action => "internship_process_in_progress", :community_id => params[:community_id] },
        { :class => "internship_button internship_main_button" }) %>
	  </div>
	</div>
</div>
