<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Matricula</th>
  </tr>
<% @pre_enrolled_students.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= student. %></td>
  </tr>
<% end %>
