<html>
  <head>
    <title>HTML Reference</title>
  </head>
  <body>
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.profile.name %></td>
        <td><%= submission.profile.email %></td>
        <td><%= submission.created_at.strftime("%Y-%m-%d").gsub!('-','/') %></td>
        <td><%= submission.created_at.strftime("%H:%m") %></td>
      </tr>
    <% end %>
  </body>
</html>
