<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Matricula</th>
  </tr>
<% @submissions.each do |submission| %>
  <tr>
    <td><%= submission.profile.name %></td>
    <td><%= submission.return_answer_field('alo') %></td>
  </tr>
<% end %>
