<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="textbox-container">
    <h2>Envio de Arquivos</h2>
    <p>
      Prezados estudantes,

  Para a pré-matricula na disciplina de estágio supervisionado, os alunos devem fazer o upload de uma pasta zipada chamada nome_sobrenome_matricula dos seguintes documentos (em pdf) até o dia 05/04/2019 (terça-feira), 23:55.
    </p>

    <h3>Anexos:</h3>
    <ul>
      <li>Termo de compromisso de estágio assinado pela DAIA</li>
      <li>Plano de atividades assinado pelo coordenador de estágio ou responsável FGA</li>
      <li>Anexo 1: Ficha de Matricula de Estágio Supervisionado, assinada pelo orientador de estágio. Para isso, o aluno deverá preencher o formulário que se encontra no Moodle, imprimir e solicitar assinatura do professor orientador de estágio.</li>
      <li>Histórico escolar (lembrem que para se matricular na disciplina é necessário ter 70% dos créditos do curso integralizados)</li>
      <li>Grade horária obtida pelo matricula web (lembrem que devem ter no máximo 18 créditos quando o estágio é de 20 horas e 8 créditos para 30 horas).</li>
    </ul>

    <p>
    	Após o envio dos arquivos o coordenador do seu curso irá validar seus documentos para assim avançar para a próxima etapa ou realizar as correções necessárias.
      Os arquivos podem ser enviados através das abas abaixo:
    </p>
    <br>
  </div>
<button type="button" class="internship_button internship_main_button" onclick="location.href='http://localhost:3000/plugin-fga/envioaluno'">Envio de Arquivos</button>
</div>

</body>

<style media="screen">
.internship_main_button {
  padding: .8em;
  font-size: 15px !important;

  &:after {
    content: attr(data-button-icon);
    float: right;
    padding-left: 1em;
  }
}

.internship_button {
  background-color: #005263 !important;
  color: white !important;
  transition: opacity 0.2s ease 0s;
  &:hover {
    opacity: 0.5;
  }
  margin-left: 2em;
}

.button-container {
  display: flex;
  justify-content: center;

}
</style>
</html>
