<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="textbox-container">
    <h2>Envio de Arquivos</h2>
    <p>
      Prezados estudantes,

  Para a pré-matricula na disciplina de estágio supervisionado, os alunos devem fazer o upload de uma pasta zipada chamada nome_sobrenome_matricula dos seguintes documentos (em pdf) até o dia 05/04/2019 (terça-feira), 23:55.
    </p>

    <h3>Anexos:</h3>
    <ul>
      <li>Termo de compromisso de estágio assinado pela DAIA</li>
      <li>Plano de atividades assinado pelo coordenador de estágio ou responsável FGA</li>
      <li>Anexo 1: Ficha de Matricula de Estágio Supervisionado, assinada pelo orientador de estágio. Para isso, o aluno deverá preencher o formulário que se encontra no Moodle, imprimir e solicitar assinatura do professor orientador de estágio.</li>
      <li>Histórico escolar (lembrem que para se matricular na disciplina é necessário ter 70% dos créditos do curso integralizados)</li>
      <li>Grade horária obtida pelo matricula web (lembrem que devem ter no máximo 18 créditos quando o estágio é de 20 horas e 8 créditos para 30 horas).</li>
    </ul>

    <p>
    	Após o envio dos arquivos o coordenador do seu curso irá validar seus documentos para assim avançar para a próxima etapa ou realizar as correções necessárias.
      Os arquivos podem ser enviados através das abas abaixo:
    </p>
    <br>
  </div>
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#arquivo1">Termo de Compromisso</a></li>
    <li><a data-toggle="pill" href="#arquivo2">Plano de Atividades</a></li>
    <li><a data-toggle="pill" href="#arquivo3">Ficha de Matricula de Estágio</a></li>
    <li><a data-toggle="pill" href="#arquivo4">Histórico Escolar</a></li>
    <li><a data-toggle="pill" href="#arquivo5">Grade Horária</a></li>
  </ul>
  <div class="tab-content">
    <div id="arquivo1" class="tab-pane fade in active">
      <h3>Termo de Compromisso</h3>
      <p>Termo de compromisso de estágio assinado pela DAIA</p>
    </div>
    <div id="arquivo2" class="tab-pane fade">
      <h3>Plano de Atividades</h3>
      <p>Plano de atividades assinado pelo coordenador de estágio ou responsável FGA</p>
    </div>
    <div id="arquivo3" class="tab-pane fade">
      <h3>Ficha de Matricula de Estágio</h3>
      <p>Anexo 1: Ficha de Matricula de Estágio Supervisionado, assinada pelo orientador de estágio. Para isso, o aluno deverá preencher o formulário que se encontra no Moodle, imprimir e solicitar assinatura do professor orientador de estágio.</p>
    </div>
    <div id="arquivo4" class="tab-pane fade">
      <h3>Histórico Escolar</h3>
      <p>Histórico escolar (lembrem que para se matricular na disciplina é necessário ter 70% dos créditos do curso integralizados)</p>
    </div>
    <div id="arquivo5" class="tab-pane fade">
      <h3>Grade Horária</h3>
      <p>Grade horária obtida pelo matricula web (lembrem que devem ter no máximo 18 créditos quando o estágio é de 20 horas e 8 créditos para 30 horas).</p>
    </div>
  </div>
</div>

</body>
</html>
